@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pattaya&family=Poppins:wght@200;400;600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F8F8FF;
}

a{
    text-decoration: none;
    color: rgb(45, 182, 175);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo{
    font-size: 32px;
    color: rgb(5, 5, 116);
    padding-left: 20px;
}

.hamburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    /* background-color: lightblue; */
}

.nav__link a{
    display: block;
    text-align: center;
    padding: 10px 0;
}

/* .nav__link a:hover {
    border-bottom: 3px solid rgb(36, 145, 196);
    border-radius: 7px;
    transition: all 0.2s ease;
} */

.hide{
    display: none;
}

.content{
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin-top: 20%;
    color: rgb(17, 19, 19);
    font-weight: 700;
    font-size: 20px;
    font-family: poppins,sans-serif;
}

@media screen and (min-width: 600px){
    .nav__link{
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a{
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger{
        display: none;
    }

    .content{
        display: block;
        text-align: center;
        margin-left: 15px;
    }
}